<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.wbcct_baseline">

    <uses-sdk
        android:targetSdkVersion="22"
        tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="edu.aku.hassannaqvi.wbcct_baseline.core.MainApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:immersive="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.main"
        android:usesCleartextTraffic="false"
        tools:replace="android:allowBackup">
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.LockActivity"
            android:exported="true" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionA3BActivity"
            android:exported="true" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionF2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionF1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionE2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionE1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionD4Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionD3Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionD2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionD1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionC6Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionC5Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionC4Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionC3Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionC2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionC1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionB2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionB1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionA5Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionA4Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionA3AActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionA2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.SectionA1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.sections.ConsentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.IdentificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.splashscreen"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.TakePhoto"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.EndingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.SyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.database.AndroidManager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.lists.FormsReportPending"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.lists.FormsReportCluster"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.lists.FormsReportDate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.lists.FamilyMembersListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="edu.aku.hassannaqvi.wbcct_baseline.ui.ChangePasswordActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" /> <!-- <meta-data android:name="YEK_REVRES" android:value="V@ca#!0n$urvIv0r" /> -->
        <meta-data
            android:name="YEK_REVRES"
            android:value="mYq3t6M@!rRiaGMU@lTIpL1)J@NcRfTjWnZr4u7x!A%D*G-KaPdSgVkXp2s5v8y/B?E(H+MbQe" />
        <meta-data
            android:name="YEK_TRATS"
            android:value="6" />
    </application>

</manifest>